* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    outline: none;
}

img {
    position: absolute;
    width: 590px;
    height: 1005px;
    left: 0px;
    top: 0px;

}

#links {
    color: #4A6566;
    margin-left: 34%;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;
}
.bta{
    margin-top: 5%;
}

button {
    background-color: white;
    color: #6E9798;
    border-radius: 13px;
    width: 341px;
    height: 38px;
    font-family: 'Barlow', sans-serif;
    border: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}
#active{
    background-color: #6E9798;
    color: white;
    
}

button:hover{
    background-color: #6E9798;
    color: white;
    -moz-transition: ease 0.5s;

}
.buttonstyle{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
#space{
    visibility: hidden;
}
#special{
    width: 390px ;
}
#svg{ 
 position: absolute;
left: 72%;
right: 2.43%;
top: 31.35%;
bottom: 31.84%;
}
li{
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-right: 50px; 
  cursor: pointer;
  list-style-type: none;
  margin-top: 27px;
  
}
li a {
   padding: 15px;
   color: #84B3B4;
   font-size: 24px;
   font-family:'Barlow', sans-serif ;
   border-radius: 62px;
   line-height: 29px;
}
#blue{
    background-color: #84B3B4;
    color: white;
}
li a:hover{
    text-decoration: underline ;
    transition: ease-in 0.5s;
}

ul{
    margin: 13px;
    padding: 0;
}
#copy{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    font-family: 'Barlow', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #002c31;
cursor: grab;
}
@media only screen and (max-width: 1762px ){
    #links{
        margin-left: 40%;
    }
}
@media only screen and (max-width: 1585px ){
    #links{
        margin-left: 40%;
    }
    img{
     visibility: hidden;
    }

}
@media only screen and (max-width:1210px ){
    #svg{
        visibility: hidden;
    }   
}
@media only screen and (max-width:1160px ){
    #links{
       margin-left: 40%;

    }
}
@media only screen and (max-width:698px){
    li{
        visibility: hidden;
    }
}


